  .plus3{
    background-image: url("https://static.wixstatic.com/media/dfd55b_1c375c18ef71417586728cdef6023979~mv2.png");
    width:50px;
    height:50px;
    background-repeat:no-repeat;
    background-size: contain;
}
    .plus2{
    background-image: url("https://static.wixstatic.com/media/dfd55b_6ac47f80479c4781b635dc59627be430~mv2.png");
    width:50px;
    height:50px;
    background-repeat:no-repeat;
    background-size: contain;
}
  
  .plus{
    background-image: url("https://static.wixstatic.com/media/dfd55b_4a3957a1d4664bee8c9093ef6284c12a~mv2.png");
    width:30px;
    height:30px;
    background-repeat:no-repeat;
    background-size: contain;
}

.plus.minus{
    background-image: url("https://static.wixstatic.com/media/dfd55b_923fe6668176436c8a2e395e56167088~mv2.png");
    width:30px;
    height:30px;
    background-repeat:no-repeat;
  background-size: contain;
}

  .butloc{
  background:transparent; 
    position:absolute; 
    max-width:90px; 
    max-height:90px; 
    z-index:99; 
    margin-top:5px; 
    margin-left:0px; 
    border:0;
  }
  
  .next1{
  background-color:transparent;
    position: relative;
  z-index: 600;
  }


 @import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

  .vid{
  width:295px;
    
  }
  
.container {
  padding: 20px;
  overflow: hidden;
}

h1 {
  text-align: lefr;
  color: white;
  padding-bottom: 10px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/*****************************************
*  --------------------------------------*
*  Slick                                 *
*  --------------------------------------*
*****************************************/
.slide {
  display: block;
  transition: ease all 0.3s;
  overflow: hidden;
   width:auto;
    height:519px;
  border: 1px solid red;
  border-radius: 10px 10px;
}
.cl {
  color: #fff;
  text-align: center;
  font-size: 126px;
  line-height: 1.0;
  font-weight: bold;
  position: relative;
}



.slick-active {
  padding: 10px 0;
}

.slick-center {
  transform: scale(1.00);
}

.slick-slide:not(.slick-active) {
  margin: 0 0;
}

.child {
  width: 100%;
}

.slide:not(.slick-active) {
  cursor: pointer;
}

.pagination {
  text-align: center;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
}

.slider {
  display: block;
  transform: translateX(-430px);
  width: 100%;
}
.slick-list {
  overflow: visible !important;
}

button {
  display: inline;
  float: center;
  margin-right: 15px;
  border: 0px;
  background: #333;
  border-radius: 3px;
  padding: 8px 15px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
}
